services:
  transaction-postgres:
    image: postgres:17
    container_name: transaction-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: transaction-postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

  transaction-service-api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: transaction-service
    ports:
      - "8091:8091"
    working_dir: /app
    environment:
      POSTGRES_HOST: transaction-postgres
      POSTGRES_PORT: 5432
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB:  transaction-postgres
      SPRING_PROFILES_ACTIVE: docker
    depends_on:
      transaction-postgres:
        condition: service_healthy

volumes:
  postgres_data: