spring:
  datasource:
    url: jdbc:postgresql://localhost:3307/sharding_db
    username: sharding_user
    password: SecurePass123!
    driver-class-name: org.postgresql.Driver

  jpa:
    properties:
      hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
      hibernate:
        temp:
          use_jdbc_metadata_defaults: false
    show-sql: false

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

server:
  port: 8091